
/*FOOTER SECTION*/
footer {
  font-size: 1.5rem;
  text-align: center;
  color: $light-color;
  background-color: $dark-color;
  border-top: 2px solid $accent-color;
  span {
    color: $accent-color;
  }
}