/* VARIABLES */
$dark-color: #171c20;
$accent-color: #d0a360;
$light-color: #e4e4df;
$body-font: 'Poppins', sans-serif;
$heading-font: 'Libre Caslon Display', serif;

/* FONT */
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Display|Poppins&display=swap');

/* GLOBAL */
html {
    font-size: 62.5%;
}

body {
    font-family: $body-font;
    background-color: $dark-color;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
}

.title {
    font-family: $heading-font;
    font-size: 10rem;
    color: $accent-color;
    text-align: center;
    margin: 0;
    height: 15vh;
}

h3 {
    font-family: $heading-font;
    font-size: 5rem;
    margin-bottom: 0;
}

p {
    font-size: 2rem;
}

ul, li {
    list-style: none;
}

/* Skip-line for accessibility */
.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: transparent;
    color: transparent;
}

.skipLink:focus {
    left: 0;
}
/* Global Styles End Here */