/*VARIABLES*/
$dark-color: #171c20;
$accent-color: #d0a360;
$light-color: #e4e4df;
$body-font: 'Poppins', sans-serif;
$heading-font: 'Libre Caslon Display', serif;

/*FONT*/
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Display|Poppins&display=swap');

html{
    font-size: 62.5%;
}

h1{
    font-size: 10rem;
    text-align: center;
    font-family: $heading-font;
    color: $dark-color;
    margin: 0;
    letter-spacing: -5px;
    text-shadow: 3px 3px $accent-color;
}

h2{
    font-size: 5rem;
    border-bottom: 5px solid $accent-color;
    margin: 0;
    font-family: $heading-font;
}

h3{
    font-size: 4rem;
    margin: 0;
    font-family: $heading-font;
}

body{
    background-color: $light-color;
    font-family: $body-font;
}

p{
    font-size: 3rem;
    color: $dark-color;
    padding: 10px;
    margin: 0;
    margin-bottom: 5px;
}

.wrapper{
    max-width: 1600px;
    margin: 0 auto;
}

ul, li {
    list-style: none;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
    gap: 5px;
    grid-template-areas:
    "got heart hp"
    "message message message";
}

.gotCharacters{
    grid-area: got;
    margin: 0 auto;
    text-align: center;
}

.message{
    grid-area: message;
}

.heartIcon{
    grid-area: heart;
}

.hpCharacters{
      grid-area: hp;
      margin: 0 auto;
      text-align: center;
}

.heartIcon{
    grid: heart;
    position: relative;
    width: 500px;
    height: 500px;
}

.affinity{
    position: absolute;
    top: 35%;
    left: 45.5%;
    color: $light-color;
    h2{
        font-size: 7rem;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        border: none;
    }
}


.individualGotCharacter{
    grid-area: got;
}

// .outing{
//     grid-area: outing;
// }

.message{
    text-align: center;
    border-bottom: 5px solid $accent-color;
    grid-area: message;
}

.gotImages,
.hpImages{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 15px solid $accent-color;
}

button{
    margin-top: 2%;
    border: none;
    color: $light-color;
    background-color: $dark-color;
    padding: 20px 15px;
    font-size: 2rem;
    border-radius: 25px;
    &:hover{
        color: $dark-color;
        background-color: $accent-color;
        border: 2px dashed $dark-color;
    }
    &:focus{
        color: $dark-color;
        background-color: $light-color;
        border: 2px dashed $dark-color;
    }
}