/*VARIABLES*/
$dark-color: #171c20;
$accent-color: #d0a360;
$light-color: #e4e4df;
$body-font: 'Poppins', sans-serif;
$heading-font: 'Libre Caslon Display', serif;

/*FONT*/
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Display|Poppins&display=swap');

h1{
    font-size: 10rem;
    color: $dark-color;
}