.outing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-top: 2px solid $accent-color;
  .title {
    font-size: 5rem;
    text-align: center;
    padding: 20px;
    color: $accent-color;
    border: none;
  }
  .outingSuggestions {
    ul {
      display: flex;
      flex-wrap: wrap;
      color: $light-color;
      margin: 0;
      padding: 0;
      .restaurantImg {
        min-width: 200px;
        min-height: 200px;
        border-radius: 50%;
        border: 5px solid $accent-color;
      }
      li {
        display: flex;
        width: calc(100% / 3);
        height: 240px;
        margin: 0;
        padding: 1%;
        .restaurantInfo {
          margin: 5% 0;
          width: 100%;
          h3,
          h4,
          h5 {
            margin: 5%;
            margin-left: 5%;
          }
          h3 {
            font-size: 2.6rem;
          }
          h4 {
            font-size: 1.7rem;
          }
          h5 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
