@import url("https://fonts.googleapis.com/css?family=Libre+Caslon+Display|Poppins&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* Skip-line for accessibility */
.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: transparent;
  color: transparent;
}

.skipLink:focus {
  left: 0;
}

/* Global Styles End Here */
/*VARIABLES*/
/*FONT*/
/*MAIN STYLING*/
html {
  font-size: 62.5%;
}

header {
  min-height: 15vh;
  background-color: #171c20;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 10rem;
  text-align: center;
  font-family: "Libre Caslon Display", serif;
  color: #d0a360;
  margin: 0;
  letter-spacing: -3px;
  text-shadow: 2px 2px #6e1b1b;
}

h2 {
  font-size: 3.2rem;
  border-bottom: 5px solid #d0a360;
  margin: 0;
  font-family: "Libre Caslon Display", serif;
}

h3 {
  font-size: 4rem;
  margin: 0;
  font-family: "Libre Caslon Display", serif;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #171c20;
}

p {
  font-size: 2.3rem;
  color: #171c20;
  padding: 10px;
  margin: 0;
  margin-bottom: 5px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
  color: #e4e4df;
  background-color: #171c20;
  -webkit-box-shadow: 4px 4px #d0a360;
          box-shadow: 4px 4px #d0a360;
  padding: 20px 15px;
  font-size: 2rem;
  border-radius: 25px;
}

button:hover {
  color: #171c20;
  background-color: #d0a360;
  -webkit-box-shadow: 2px 2px #171c20;
          box-shadow: 2px 2px #171c20;
}

button:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*MAIN SECTION - GRID SETUP*/
.gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  gap: 5px;
      grid-template-areas: "introduction introduction introduction" "got heart hp" "message message message";
}

.app {
  background-image: url(../assets/backgroundPattern.jpg);
  background-size: contain;
  background-attachment: fixed;
}

.gotCharacters {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: got;
  margin: 0 auto;
  text-align: center;
}

.hpCharacters {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: hp;
  margin: 0 auto;
  text-align: center;
}

.gotImages,
.hpImages {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 15px solid #d0a360;
}

/*HEART SECTION*/
.affinyWrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: heart;
}

.heartIcon {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.heartWrapper {
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heartWrapper h2 {
  position: absolute;
  top: 37%;
  left: 39%;
  border-bottom: none;
  font-size: 5rem;
  color: #e4e4df;
  text-shadow: 3px 3px #171c20;
}

.message {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: message;
  text-align: center;
}

.message h3 {
  font-size: 3.5rem;
}

.introduction {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: introduction;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 2rem;
}

.introduction span {
  font-weight: 900;
}

footer {
  background-color: #171c20;
  color: #e4e4df;
  text-align: center;
  min-height: 4vh;
  font-size: 1.5rem;
}

footer span {
  color: #d0a360;
}

.outing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.outing .title {
  margin: 5% 0;
  text-shadow: 4px 3px 3px #e4e4df;
}

.outing .outingSuggestions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #e4e4df;
  margin: 0;
  padding: 0;
}

.outing .outingSuggestions ul .restaurantImg {
  width: 50%;
  border-radius: 50%;
  border: 5px solid #d0a360;
}

.outing .outingSuggestions ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% / 3);
  height: 240px;
  margin: 0;
  padding: 1%;
}

.outing .outingSuggestions ul li .restaurantInfo {
  margin: 5% 0;
  width: 100%;
}

.outing .outingSuggestions ul li .restaurantInfo h3, .outing .outingSuggestions ul li .restaurantInfo h4, .outing .outingSuggestions ul li .restaurantInfo h5 {
  margin: 5%;
  margin-left: 5%;
}

.outing .outingSuggestions ul li .restaurantInfo h3 {
  font-size: 2.6rem;
}

.outing .outingSuggestions ul li .restaurantInfo h4 {
  font-size: 1.7rem;
}

.outing .outingSuggestions ul li .restaurantInfo h5 {
  font-size: 1.5rem;
}

@media (max-width: 1220px) {
  .hpImages,
  .gotImages {
    width: 300px;
    height: 300px;
  }
  button {
    padding: 10px;
  }
  .individualGotCharacter,
  .individualHpCharacter {
    min-height: 350px;
  }
}

@media (max-width: 1050px) {
  .heartIcon {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 915px) {
  .introduction {
    width: 80%;
  }
  .hpImages,
  .gotImages {
    width: 250px;
    height: 250px;
  }
  button {
    font-size: 1.5rem;
  }
  .message h3 {
    font-size: 3rem;
  }
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-12-9 18:50:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
